/*
* Base V2
* Copyright 2015
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2015
*/

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 2; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

	code {
		font-family: monospace, serif;
		font-size: 14px;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}

	pre { 
		background: url("../images/pre.png") repeat scroll 0 0 #fafafa;
		border: 1px solid #DDDDDD;
		border-radius: 2px;
		display: block;
		font: 11px/19.2px Consolas, Courier,"Courier New",monospace;
		margin: 0 auto 18px;
		width:90%;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 18px 20px;
		color: #666;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
	
	* { box-sizing:border-box; }

/* Basic Alginment
================================================== */
	.columns img,
	.column img {
		height: auto;
		max-width: 100%;
	}
	
	.columns.google-map img {
		max-width: none;
	}

	img, object, video {
		height: auto;
		display:block;
	}
	
	img {
		max-width: 100%;
		border: 0;
		vertical-align: middle;
	}

	/* Flexible Embeds */
	.embed {
		position: relative;
		padding: 0px;
		/*padding-bottom: 56.25%;*/ /* 16/9 ratio */
		/*height: 0;*/
		overflow: hidden;
	}

	.embed iframe,
	.embed object,
	.embed embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.image-left {
		float: left;
		margin: 0 15px 8px 0;
	}
	
	.image-right {
		float:right;
		margin: 0 0 8px 15px;
	}
	
	.image-right,
	.image-left {
		 padding: 4px;
		 border: 1px solid #ddd;
		 max-width: 100%;
		-webkit-box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
		box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	}

/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #333;
		font-family: Arial, sans-serif;
		font-weight: bold;
	}
		
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 38px; line-height: 32px; }
	h2 { font-size: 36px; line-height: 38px; }
	h3 { font-size: 32px; line-height: 30px; }
	h4 { font-size: 28px; line-height: 30px; }
	h5 { font-size: 26px; line-height: 24px; }
	h6 { font-size: 26px; line-height: 21px; }

	p { margin: 0 0 20px 0; line-height: 20px;}
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }
	b {font-weight:bold;}

	em { font-style: italic; }
	strong { font-weight: bold; }
	small { font-size: 80%; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited {text-decoration: none; outline: 0; -webkit-transition: color 0.1s ease-in-out; -moz-transition: color 0.1s ease-in-out; -o-transition: color 0.1s ease-in-out; -transition: color 0.1s ease-in-out;}
	a:hover, a:focus { color: #888; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin: 0; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul {}
	ul ul li, ul ol li,
	ol ol li, ol ul li {}
	li { line-height: 28px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }


/* #Forms
================================================== */
	fieldset {
		margin-bottom: 20px; }
	
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	textarea,
	select {
		border: 1px solid #d8d8d8;
		padding: 10px;
		outline: none;
		font-size: 14px ;
		color: #888;
		margin: 0;
		max-width: 100%;
		display: block;
		background: #fff;
		}
	select {
		padding: 0;}
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #ccc;
 		color: #666; 
		}
	textarea {
		min-height: 60px; }

	legend {
		display: block;
		font-weight: bold;
		font-size: 12px; 
		font-weight: normal;
		margin-bottom: 8px;}
	select {
		 }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }

	/* seo-block
================================================== */
.seo-block .container{
	padding-top: 30px;
	padding-bottom: 20px;
}

.seo-block-inner{
	max-height: 120px;
	overflow: hidden;
	position: relative;
	transition: all .3s;
}

.seo-block.active .seo-block-inner{
	max-height: 400px;
	overflow: auto;
}

.seo-block-inner:after{
	    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, #fff));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255,  0.6) 0%, #fff 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255,  0.6) 0%, #fff 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255,  0.6) 0%, #fff 100%);
    background: linear-gradient(top, rgba(255, 255, 255,  0.6) 0%, #fff 100%);
    pointer-events: none;
}

.seo-block-open{
	display: table;
	margin: 10px auto;
	position: relative;
	font-size: 16px;
}

.seo-block-open .open{
	color: #f25043;
}
.seo-block-open .close{
	color: #000;
	display: none;
}

.seo-block.active  .seo-block-open .open{
	display: none;
}

.seo-block.active  .seo-block-open .close{
	display: block;
}

.seo-block.active .seo-block-inner:after{
	content: none;
}