.aiowps-captcha-equation {
    margin-bottom: 20px;
}
#aiowps-captcha-answer {
    display: inline-block;
}
.footer-wr {
    position: fixed;
    bottom: -2px;
    width: 100%;
    height: auto;
    z-index: 1000;
    overflow: auto;
}
@media only screen and (max-width: 767px) {
    .footer-wr.js-footer-height {
        height: 100%;
    }
}
